<div class=" mb-2 ">
  <div class="d-flex justify-content-between align-items-center py-2 px-3">
    <div class="d-flex align-items-center">
      <h2 class="mb-0 color-gray-600 ts-5">{{"sites.Category.categories"|translate}}</h2>
      <div class="color-purple-700 bg-purple-50 cr7 px-2 py-1 ms-2">{{page.options.totalItems}}
        {{"sites.Category.categories"|translate}}
      </div>
    </div>



    <div class="d-flex">
      <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="deleteSelectedCategories()">{{"sites.Category.delete"|translate}}</button>
      <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="activateCategories()">{{"sites.Category.active"|translate}}</button>
      <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="disActiveCategories()">{{"sites.Category.disActive"|translate}}</button>
      <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3 mx-1"
        (click)="openCategoryModal(false)">{{"sites.Category.create"|translate}}
      </button>
    </div>
  </div>
  <hr />
  <form [formGroup]="page.searchForm">
    <div class="form-body">
      <div class="row g-2 ">
        <div class="col-3">
          <ng-control [form]="page.searchForm" control="Name" label="sites.Category.name"
            placeholder="sites.Category.name"></ng-control>
        </div>

        <div class="col-3 d-flex align-items-end">
          <button class='color-purple-700 rb-btn  rb-btn-secondary rb-btn-sm  w-100' (click)="onSearchClicked()"
            [disabled]="page.searchForm.invalid || page.isSearching">
            <i class="uil uil-search"></i>
            <span class="rb-btn-text d-md-inline-block">
              {{'shared.search'|translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="scolled mt-3 h-100">
    <app-table-skelton *ngIf="page.isSearching" [columns]="page.columns"></app-table-skelton>
    <table class="table " *ngIf="!page.isSearching">
      <thead>
        <tr class="th-header">
          <th>
            <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
          </th>
          <ng-container *ngFor="let colum of page.columns ;let i=index;">
            <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
              {{colum.Title | translate}}
              <div *ngIf="colum.Sortable" class="d-inline-block"
                [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                <i class="uil uil-sort sort-icon"
                  [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr [hidden]="page.isSearching || items.length>0">
          <td colspan="100%">
            <span>{{'shared.no-data-found'|translate}}</span>
          </td>
        </tr>
        <ng-container *ngFor="let item of items | paginate : page.options;let i=index;">
          <tr>

            <td>
              <input type="checkbox" [(ngModel)]="item.selected" />
            </td>
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="flex justify-content-center">
                <p-inputSwitch [(ngModel)]="item.isActive" [disAbled]="page.isSaving "
                  (ngModelChange)="updateActivation(item,item.isActive)"></p-inputSwitch>
              </div>
            </td>

            <td>
              <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-0 pointer"
                aria-label="Delete" (click)="showDeleteConfirmation(item)">
              </button>
              <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info  pointer p-0"
                aria-label="Edit" (click)="openCategoryModal(true, item)"></button>
            </td>
          </tr>
        </ng-container>
        <th></th>
    </table>
  </div>
  <div class="pb-2">
    <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
    </ng-pagination>
  </div>
</div>

<ng-template #confirmDeleteTemplate>
  <div class="modal-content confirm-modal">
    <div class="modal-body">
      <p class="modal-confirm-content mb-2">
        {{'shared.delete-confirmation.message'|translate}}
        <strong *ngIf="selectedItem">{{selectedItem.name}}</strong>
      </p>
      <div class="d-flex mt-4">
        <button type="button" class="btn cancel-btn me-auto"
          (click)="modalRef.hide() ">{{"sites.Category.cancel"|translate}}</button>
        <button type="button" *ngIf="selectedItem" class="btn btn-without-icon bg-e5 ms-2"
          (click)="remove();modalRef.hide();">{{"sites.Category.confirm"|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmDeleteTemplates>
  <div class="modal-body text-center">
    <p>{{"sites.Category.areyousureyouwanttodeletetheselectedCategories?"|translate}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn cancel-btn me-auto" (click)="modalRef.hide()">{{"sites.Category.cancel"|translate}}</button>
    <button class="btn btn-without-icon bg-e5 ms-2"
      (click)="modalRef.content.onConfirm(); modalRef.hide()">{{"sites.Category.confirm"|translate}}</button>

  </div>
</ng-template>


<ng-template #categoryModalTemplate>
  <div class="modal-content" style="width: 500px;">
    <div class="modal-header">
      <h5 class="modal-title"> {{ isEditing ? ('sites.Category.editCategory' | translate) : ('sites.Category.create' | translate) }}
      </h5>
      <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="save()">
        <div class="mb-3">
          <label for="name" class="form-label">{{'sites.Category.name' | translate}}</label>
          <input type="text" [(ngModel)]="editableCategory.name" name="name" class="form-control" required>
        </div>

        <div class="modal-footer">
          <button type="submit" class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3">
            {{ isEditing ? ('sites.Category.saveChanges' | translate) : ('sites.Category.create' | translate) }}
          </button>
          <button type="button" class="bg-purple-50 py-2 px-4 color-purple-500 cr3 border-color bg-white"
            (click)="modalRef.hide()">{{"sites.Category.cancel"|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>