<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="text-center p-4 rounded-lg shadow-lg w-50 d-flex align-items-center animate__animated animate__fadeInUp"
    style="background-color: #fff; box-shadow: 0 10px 30px rgba(0,0,0,0.1);">

    <!-- Image Section (Left Side) -->
    <div class="text-left w-50 ">
      <img src="../../../../../assets/images/success.jfif" alt="Celebration Icon"
        class="img-fluid animate__animated animate__zoomIn animate__delay-1s"
        style="max-width: 70%; height: auto; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); border-radius: 10px;" />
    </div>

    <!-- Text Section (Right Side) -->
    <div class="w-60 text-left p-1">
      <h1 class="mb-3 color-orange-500 animate__animated animate__fadeInUp"
        style="font-size: 2.5rem; font-weight: bold;">
        Success!
      </h1>
      <p class="mb-4 color-orange-500 animate__animated animate__fadeInUp animate__delay-1s" style="font-size: 1.1rem;">
        Your OTP has been successfully verified.
      </p>
      <p class="mb-4 color-orange-500 animate__animated animate__fadeInUp animate__delay-2s" style="font-size: 1.1rem;">
        Wait for the Approval Message.
      </p>
      <p class="text-center mt-3">
        Go To Login
        <span class="pointer color-brand-500" routerLink="/auth/login">Login</span>
      </p>
    </div>
  </div>
</div>