<div class="d-flex justify-content-between align-items-center py-2 ">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/salesflow/customers"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} {{"salesflow.customers.customers"|translate}}</p>

  <div class="d-flex justify-content-between align-items-center py-2">
   
   
    <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()"
    [disabled]="!page.isEdit && (page.form?.invalid || page.isSaving|| !validateImages() )">
    <span class="rb-btn-text">{{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }}</span>
  </button>
  </div>



 
</div>
<hr />
<ng-container *ngIf="page.isPageLoaded">
  <form [formGroup]="page.form">
    <div class="row g-3 mb-4">
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="name" label="salesflow.customers.name" placeholder="Ex: Joe"></ng-control>
      </div>
    
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="nationalNumber" label="salesflow.customers.nationalNumber" placeholder="Ex: 12345678912345"
          (keypress)="numberOnly($event)"></ng-control>
      </div>
      <!-- <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="age" label="Age" placeholder="Enter your age"
          (keypress)="numberOnly($event)"></ng-control>
      </div> -->
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="mobile" label="salesflow.customers.mobile" placeholder="Ex: 0123567891"
          (keypress)="numberOnly($event)"></ng-control>
      </div>
      
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="email" label="salesflow.customers.email" placeholder="salesflow.customers.email"></ng-control>
      </div>
       


      
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="clientGroupId" label="salesflow.customers.clientGroup"
          placeholder="salesflow.customers.clientGroup" [items]="clientGroups">
        </ng-control>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="gender" label="salesflow.customers.gender"
          placeholder="salesflow.customers.gender" [items]="genderOptions">
        </ng-control>
      </div>

      
      <div class="col-12 col-sm-6 col-lg-4" >
        <ng-control [form]="page.form" control="landmark" label="salesflow.customers.landmark" placeholder="salesflow.customers.landmark"></ng-control>
      </div>
     
     
      
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="governorateId"
          (change)="onGovernorateChange($event.id)" label="salesflow.customers.governorate" placeholder="salesflow.customers.governorate"
          [items]="governorates">
        </ng-control>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="cityId" label="salesflow.customers.city"
          placeholder="salesflow.customers.city" [items]="cities">
        </ng-control>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <ng-control [form]="page.form" control="street" label="salesflow.customers.street" placeholder="salesflow.customers.street"></ng-control>
      </div>
       <div class="col-12 col-sm-6 col-lg-4">
       <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="clientType" label="salesflow.customers.clientType"
          placeholder="salesflow.customers.clientType" [items]="ClientType">
        </ng-control>
      </div>
    </div>
    <div class="row g-3 mb-4" style="display: flex; justify-content: space-between;">
      <div class="col-12 col-md-6"  >
        <label for="map" class="form-label">{{"salesflow.customers.Select Location"|translate}}</label>
        <div id="map" style="height: 300px; width: 100%;"></div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-5 h-100" *ngFor="let image of images; let i = index">

        <div class="border p-3 text-center h-60" *ngIf="!page.isEdit">
          <div *ngIf="image.uploaded; else uploadTemplate">
            <img [src]="environment.api+'/'+image.src" alt="Uploaded Image" class="img-fluid mb-2 img-thumbnail" />
          </div>
          <ng-template #uploadTemplate>
            <label for="fileInput-{{ i }}" class="text-primary cursor-pointer">
              <i class="fa fa-upload fa-2x mb-2 color-purple-500"></i>
              <p class="color-purple-500" *ngIf="!image.uploaded">{{"salesflow.customers.Upload New Image"|translate}}</p>
              <p class="text-danger" *ngIf="image.error">{{"salesflow.customers.Error Uploading"|translate}}</p>
            </label>
            <input #file type="file" id="fileInput-{{ i }}" class="d-none" (change)="onImageUpload(file.files, i)" />
          </ng-template>
        </div>
      </div>
    </div>


  </form>
</ng-container>