<div class="container-fluid py-4 px-5">
    <!-- Header -->

    <div class="w-100 bg-gray-200 p-3 cr3 mb-4">
        <p class="mb-0 text-gray-900 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
                routerLink="/sites/invoice"> {{ "sites.Invoice.invoices" | translate }}</p>
        <p class="text-sm text-gray-600 max-w-xl mb-4">
            {{ "sites.Invoice.defination" | translate }}
        </p>
    </div>

    <div class="row g-3 align-items-stretch">


        <!-- البيانات المحاسبية -->
        <div class="col-lg-3 col-12 d-flex ">

            <div class="card p-4 w-100 d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center gap-3 mb-3">
                    <!-- <img src="/assets/images/calculate.png" style="width: 20px; height: 20px;"> -->
                    <h5 class="fw-bold mb-0 color-purple-600"> {{ "sites.Invoice.accountingData" | translate }}</h5>
                </div>


                <div class="mb-3">
                    <div class="mb-3 d-flex justify-content-between align-items-center px-1">
                        <label> {{ "sites.Invoice.total" | translate }}</label>
                        <span class=" text-dark">{{ total | number:'1.2-2' }} ج.م</span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3 d-flex justify-content-between align-items-center px-1">
                        <label> {{ "sites.Invoice.tax" | translate }}</label>
                        <span class=" text-dark">14%</span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3 d-flex justify-content-between align-items-center px-1">
                        <label>{{ "sites.Invoice.taxAmount" | translate }}</label>
                        <span class=" text-dark">{{ taxAmount | number:'1.2-2' }} ج.م</span>

                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3 d-flex justify-content-between align-items-center px-1">
                        <label>{{ "sites.Invoice.netInvoice" | translate }}</label>
                        <span class="text-dark">{{ netInvoice | number:'1.2-2' }} ج.م</span>

                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3 d-flex justify-content-between align-items-center px-1">
                        <label>{{ "sites.Invoice.netItemWeightPerKG" | translate }}</label>
                        <span class="text-dark">{{ netWeight | number:'1.2-2' }}</span>

                    </div>
                </div>


                <div class="d-flex justify-content-between align-items-center flex-wrap mt-3 gap-2">

                    <!-- زر إلغاء -->
                    <div>
                        <button pButton type="button" [ngStyle]="{
      'border': '1px solid purple',
      'color': 'purple',
      'background-color': 'transparent'
    }" class="rounded px-4 py-2" (click)="onCancel()">
                            {{ "sites.Invoice.cancel" | translate }}
                        </button>
                    </div>

                    <!-- زر حفظ -->
                    <div>
                        <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()">
                            {{ "sites.Invoice.save" | translate }}
                        </button>
                    </div>
                </div>

                <!-- زر طباعة (يظهر تحت بعد الحفظ)  -->
                <div *ngIf="showPrintButton"
                    class="d-flex justify-content-between align-items-center flex-wrap mt-3 gap-2">

                    <!-- زر طباعة -->
                    <div>
                        <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="printInvoice()">
                            {{ "sites.Invoice.print" | translate }}
                        </button>
                    </div>

                    <!-- زر تحميل PDF -->
                    <div>
                        <button pButton type="button" [ngStyle]="{
      'border': '1px solid purple',
      'color': 'purple',
      'background-color': 'transparent'
    }" class="rounded px-4 py-2" (click)="downloadInvoiceAsPDF()">
                            {{ "sites.Invoice.download" | translate }}
                        </button>
                    </div>

                </div>



            </div>
        </div>
        <!-- الفاتورة والمخزن والعميل -->
        <div class="col-lg-9 col-12 d-flex flex-column gap-3">
            <div class="card p-4 flex-grow-1">

                <div class="d-flex align-items-center gap-3 mb-3">
                    <!-- <img src="/assets/images/salesInvoice.png"> -->
                    <h5 class="fw-bold color-purple-600"> {{ "sites.Invoice.salesInvoice" | translate }}</h5>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                        <ng-control [type]="controlType.SELECT" [form]="page.form" control="clientID"
                            label="sites.Invoice.client" placeholder="sites.Invoice.client" [items]="Clients">
                        </ng-control>
                    </div>
                    <div class="col-md-6 mb-3">
                        <ng-control [type]="controlType.SELECT" [form]="page.form" control="brandID" label="Brand"
                            placeholder="Select Brand" [items]="Brands" bindValue="id" bindLabel="name">
                        </ng-control>

                    </div>

                    <div class="col-md-6 mb-3">
                        <ng-control [type]="controlType.SELECT" [form]="page.form" control="productID"
                            label="sites.Invoice.product" placeholder="sites.Invoice.product" [items]="allProducts"
                            bindValue="id" bindLabel="name">
                        </ng-control>
                    </div>
                    <!-- يظهر فقط لو الـ unit == 1 -->
                    <div class="col-md-6 mb-3" *ngIf="selectedProductUnit === 1">
                        <ng-control [type]="controlType.SELECT" [form]="page.form" control="sellingUnitId"
                            label="sites.Invoice.sellingUnitId" placeholder="sites.Invoice.sellingUnitId"
                            [items]="SellingUnit" bindValue="id" bindLabel="name">
                        </ng-control>
                    </div>


                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3"
                            (click)="addProduct()">
                            {{ "sites.Invoice.addProduct" | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- الأصناف -->
            <!-- Products Table -->
            <div class="card p-4 flex-grow-1">

                <div class="d-flex align-items-center gap-2 mb-2">
                    <!-- <img src="/assets/images/productList.png"> -->
                    <h5 class="fw-bold color-purple-600">{{ "sites.Invoice.productList" | translate }}</h5>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table pointer">
                        <thead class="text-white" style="background-color: #6c757d;">


                            <tr class="th-header">
                                <th>{{ "sites.Invoice.product" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.quantity" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.price" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.totalPrice" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.weight" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.unit" | translate }}</th>
                                <th class="text-center">{{ "sites.Invoice.action" | translate }}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedProducts; let i = index">
                                <td>{{ item.name }}</td>

                                <!-- Quantity: قابل للتعديل فقط لو هو في حالة edit -->
                                <td>
                                    <!-- <input type="number" class="form-control text-center" [(ngModel)]="item.quantity"
                                        [readonly]="!item.isEditing" min="1" /> -->
                                    <input type="number" class="form-control text-center" [(ngModel)]="item.quantity"
                                        (ngModelChange)="onQuantityChange(i)" [max]="item.maxQuantity" [min]="1" />
                                    <span class="text-danger text-sm" *ngIf="quantityErrors[i]">{{ quantityErrors[i]
                                        }}</span>
                                </td>


                                <!-- Price: دائمًا readonly -->
                                <td class="text-center align-middle">
                                    {{item.price | number:'1.2-2'}} ج.م
                                    <input type="hidden" [(ngModel)]="item.price">
                                </td>
                                <td class="text-center align-middle">
                                    {{ (item.quantity * item.price) | number:'1.2-2' }} ج.م
                                    <input type="hidden" [(ngModel)]="item.price">
                                </td>
                                <td class="text-center align-middle">
                                    {{item.weight }}
                                    <input type="hidden" [(ngModel)]="item.weight">
                                </td>
                                
                                <td class="text-center align-middle">{{getUnitName(item.unit)}}</td>



                                <!-- Edit button toggles edit mode -->
                                <td class="text-center align-middle">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                        <button pButton icon="pi pi-trash"
                                            class="p-button-rounded p-button-text p-button-danger p-0 pointer"
                                            aria-label="Delete" (click)="deleteProduct(i)">
                                        </button>
                                    </div>
                                </td>


                            </tr>
                            <tr *ngIf="selectedProducts.length === 0">
                                <td colspan="7" class="text-muted"> {{ "sites.Invoice.noProductsAdded" | translate }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>


        </div>
    </div>