<div class="container text-center ">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
         
    <img src="/assets/images/confirm-with.svg" alt="Confirmation" class="img-fluid">
</div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8">
        <div class="row p-4 delivery-time mb-3">
            <div class="col-lg-6 col-md-6">
                <p class="label mb-0">Expected Delivery Time</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p class="time mb-0">Fri 22-11-2024 (10:00pm)</p>
            </div>
        </div>
    </div>
</div>
</div>