<div class="d-flex justify-content-between align-items-center py-2 ">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/sites/discount"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} Discount</p>
  <button class="bg-brand-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()">
    <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
  </button>
</div>
<hr />
<div class="pb-2">
  <div class="border mb-2">
    <ul class="nav nav-tabs px-3 p-2 d-flex align-items-center">
      <li class="nav-item me-1 " *ngFor="let tab of Tabs">
        <a class="nav-link d-flex align-items-center px-2 py-1 pointer" [ngClass]="{
              'bg-brand-100 color-brand-500': tab.isSelected,
              'color-gray-100 color-gray-100': !tab.isSelected
            }" (click)="switchTab(tab.ID)">
          <img [src]="tab.isSelected ? tab.selectedIcon : tab.icon" alt="tab icon" class="me-2" />
          {{tab.name}}
        </a>
      </li>
      <div class="d-flex align-items-center ms-auto">
        <p-inputSwitch [(ngModel)]="checkedActivation"></p-inputSwitch>
        <label class="ms-2">
          Activate Discount
        </label>

      </div>
    </ul>


    <div class="tab-content mt-3">
      <div *ngIf="selectedTab === TabEnum.GeneralData">
        <div class="p-3 pt-0 bg-white rounded">
          <form [formGroup]="page.form">
            <div class="row d-flex g-0">
              <div class="col-5 ps-0 mx-4">
                <ng-control [form]="page.form" control="name" label="Discount Name"
                  placeholder="Discount Name"></ng-control>
              </div>
              <div class="col-5 pe-0 ms-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="discountCategory"
                  label="Discount Category" placeholder="Discount Category" [items]="discountCategory">
                </ng-control>
              </div>
            </div>
            <div class="row d-flex g-0 my-4">
              <div class="col-5 mx-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="discountType"
                  label="Discount Type" placeholder="Discount Type" [items]="discountType">
                </ng-control>
              </div>
              <div class="col-5 ps-0 mx-4">
                <ng-control [form]="page.form" control="receiptAmount" label="Receipt Amount"
                  placeholder="Receipt Amount" (keypress)="numberOnly($event)"></ng-control>
              </div>
            </div>
            <div class="row d-flex g-0 my-4">
              <div class="col-5 mx-4">
                <ng-control [form]="page.form" control="startDate" label="Start Date" [type]="page.ControlType.INPUT_DATE"
                (change)="onChangeStartDate($event)"></ng-control>
              <div *ngIf="page.form.get('startDate')?.errors?.pastDate" class="text-danger extra-small mt-1">
                {{ page.form.get('startDate')?.errors?.pastDate }}
              </div>
              </div>

              <div class="col-5 pe-0 ms-4">

                <ng-control [form]="page.form" control="endDate" label="End Date" [type]="page.ControlType.INPUT_DATE"
          [minDate]=" page.form.get('startDate').value" [diasblePastDate]="true"></ng-control>
        <div *ngIf="page.form.get('endDate')?.errors?.endDateBeforeStart" class="text-danger extra-small mt-1">
          {{ page.form.get('endDate')?.errors?.endDateBeforeStart }}
        </div>
              </div>
            </div>
            <div class="row d-flex g-0 my-2">
              <div class="col-5 ps-0 mx-4">
                <ng-control [form]="page.form" control="amount" label="Amount" placeholder="Amount"
                  (keypress)="numberOnly($event)">
                </ng-control>
              </div>
              <div class="col-5 ps-0 mx-4">
                <ng-control [form]="page.form" control="quantity" label="Quantity" placeholder="quantity"
                  (keypress)="numberOnly($event)">
                </ng-control>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

   