.extra-small {
  font-size: 0.7rem; /* Extra small font size */
  line-height: 1rem; /* Adjust line height for better spacing */
}

.mt-1 {
  margin-top: 0.2rem; /* Very small margin */
}



/* Active tab with a different background */
.nav-tabs .nav-link.bg-brand-100 {
  background-color: #fcecd8; /* Adjust this to match your active tab style */
  color: #EB762C;
}

/* Optional: Style for the icon color when hovered */

.custom-large-textarea {
  width: 100%; /* Ensure it takes the full width of the container */
  min-height: 300px; /* Explicitly set a larger height */
  max-height: 500px; /* Optional: Limit maximum height */
  font-size: 1rem; /* Adjust text size */
  padding: 10px; /* Add padding for better appearance */
  box-sizing: border-box; /* Ensure padding doesn't overflow */
}

.nav-link{
  border: 1px solid #E9EAEB;
  border-radius: 6px;
}

.border{
  border: 1px solid lightgray;
  border-radius: 5px;
}