<div class="row mx-0">
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-50 w-xl-75 ">
          <h1 class="login-title bold mb-3 color-purple-500">Forget Password</h1>
      <form [formGroup]="forgetPasswordForm">
       
        <!-- Password Input -->
          <ng-control [form]="forgetPasswordForm" [inputClass]="'mb-2'" control="password" label="Password" placeholder="********"
            [type]="controlType.PASSWORD"></ng-control>
            <!-- ConPassword Input -->
          <ng-control [form]="forgetPasswordForm" [type]="controlType.PASSWORD" control="confirmPassword"
            label="Confirm Password" placeholder="" (blur)="confirmPassword()" placeholder="********"></ng-control>
       
      </form>
      <!-- Login Button -->
      <button (click)="onSubmit()" class=" btn bg-purple-600 w-100 mt-4" [disabled]="forgetPasswordForm.invalid || isSubmitting">Submit</button>
      <!-- Signup Link -->
      <p class="text-center mt-3">
        Go To Login ? <span class="pointer color-purple-500" routerLink="/auth/login" >Login</span>
      </p>
      </div>
    
  </div>
</div>
<div class="col-12 col-lg-4 p-0">
  <div class="d-flex justify-content-end vh-100">
    <img src="/assets/images/caroils.PNG" class="vh-100 w-100" alt="login">
</div>
</div>
</div>