<div class="container py-5" style="min-height: 100vh;">
    <!-- Profile Options Grid -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col text-center ">
        <div class="p-4 border  cr5" routerLink="/sites/employeeProfile/profileSetting">
          <img src="../../../../../../assets/images/person.png">
          <p class="fw-bold mt-2">Profile Settings</p>
        </div>
      </div>
      <div class="col text-center h-100">
        <div class="p-4 border cr5" routerLink="/sites/employeeProfile/changePassword">
          <img src="../assets/images/password.png">
          <p class="fw-bold mt-2">Change Password</p>
        </div>
      </div>
     
      <div class="col text-center">
        <div class="p-4 border  cr5" routerLink="/sites/employeeProfile/notification">
          <img src="../assets/images/notifications_active.png">
          <p class="fw-bold mt-2">Notification</p>
        </div>
      </div>
     
    </div>
  </div>
  
  
  
  