.h-220px {
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  border-radius: 40px;
}

.h-440px {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  border-radius: 40px;
}

.ads-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company-image{
  width: 100%;
  height: 100%;
  min-height: 140px;
  max-height: 140px;
}