<div class="d-flex justify-content-between align-items-center py-2">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/sites/product"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} Category</p>
  <div class="d-flex justify-content-end gap-0">
    <button type="button" class=" py-2 px-4 color-purple-500 cr3  border-color bg-white"
      (click)="onCancel()">Cancel</button>
    <!-- <button type="button" class="bg-purple-50 py-2 px-4 color-purple-500 no-border cr3 mx-1"
      (click)="onReset()">Reset</button> -->
    <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1" (click)="onCreateSubCategory()">
      <span class="rb-btn-text">{{(page.isEdit ? 'shared.edit' : 'shared.create') | translate}} Sub Category</span>
    </button>
    <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()"
      [disabled]="page.form?.invalid || page.isSaving">
      <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
    </button>

  </div>
</div>
<hr />
<div class="pb-2">
  <div class="border mb-2">
    <ul class="nav nav-tabs px-3 p-2 d-flex align-items-center">
      <li class="nav-item me-1 " *ngFor="let tab of Tabs">
        <a class="nav-link d-flex align-items-center px-2 py-1 pointer" [ngClass]="{
          'bg-purple-100 color-purple-500': tab.isSelected,
          'color-gray-100 color-gray-100': !tab.isSelected
        }" (click)="switchTab(tab.ID)">
          <img [src]="tab.isSelected ? tab.selectedIcon : tab.icon" alt="tab icon" class="me-2" />
          {{tab.name}}
        </a>
      </li>
      <div class="d-flex align-items-center ms-auto">
        <p-inputSwitch [(ngModel)]="isActivated"></p-inputSwitch>
        <label class="ms-2">
          Activate Category
        </label>

      </div>
    </ul>


    <div class="tab-content mt-3">
      <div *ngIf="selectedTab === TabEnum.GeneralData">
        <div class="p-3 pt-0 bg-white rounded">
          <form [formGroup]="page.form">
            <div class="row g-3">
              <div>
                <ng-control [form]="page.form" control="name"
                  [label]="isSubCategory ? 'Sub Category Name' : 'Category Name'" placeholder="Enter name"></ng-control>
              </div>

              <div *ngIf="isSubCategory" class="col-12 mt-3">

                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="parentCategoryId"
                  label="Select Parent Category" placeholder="Select Parent Category" [items]="categories">
                </ng-control>


              </div>

              <div class="col-12 mt-3 ">
                <ng-control [form]="page.form" control="description" label="Description"
                  placeholder="Enter a description..." [type]="page.ControlType.TEXTAREA"
                  [inputClass]="'rb-textarea h-100'" (change)="onChange($event)" [readOnly]="false"
                  [rows]="10"></ng-control>

              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTab === TabEnum.SEO">
      <div class="p-3 pt-0  bg-white rounded ">
        <form [formGroup]="page.form">
          <div class="row g-3">
            <div class="col-12 mt-3">
              <label for="MetaTagKeywords" class="form-label d-block">Meta Tag Keywords</label>
              <p-chips formControlName="tags" [separator]="' '" [addOnBlur]="true"
                placeholder="Enter Meta Tag Keywords..."></p-chips>
              <small class="form-text text-muted">
                Press <strong>Space</strong> to add another tag.
              </small>
            </div>

            <div class="col-12 mt-3">
              <label for="SEOWords" class="form-label d-block">SEO Words</label>
              <p-chips formControlName="seo" [separator]="' '" [addOnBlur]="true"
                placeholder="Enter SEO Words..."></p-chips>
              <small class="form-text text-muted">
                Press <strong>Space</strong> to add another tag.
              </small>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div *ngIf="selectedTab === TabEnum.Images" >
      <div class="container py-5" >
        <div class="row g-4">
          <div class="col-12 col-md-3 col-lg-3" *ngFor="let image of images; let i = index">
            <div class="border p-3 text-center h-100">
              <div *ngIf="image.uploaded; else uploadTemplate">
                <img [src]="environment.api+'/'+image.src" alt="Uploaded Image" class="img-fluid mb-2 img-thumbnail" />
                <!-- <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-sm btn-warning" (click)="replaceImage(i)">Replace</button>
                <button class="btn btn-sm btn-danger" (click)="deleteImage(i)">Delete</button>
              </div> -->
              </div>
              <ng-template #uploadTemplate>
                <label for="fileInput-{{ i }}" class="text-primary cursor-pointer">
                  <i class="fa fa-upload fa-2x mb-2 color-purple-500"></i>
                  <p class="color-purple-500" *ngIf="!image.uploaded">Upload New Image</p>
                  <p class="text-danger" *ngIf="image.error">Error Uploading</p>
                </label>
                <input #file type="file" id="fileInput-{{ i }}" class="d-none"
                  (change)="onImageUpload(file.files, i)" />
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>