<div class="d-flex justify-content-between align-items-center py-2 ">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/sites/salesMan"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} SalesMan</p>
  <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()"
    [disabled]="page.form?.invalid || page.isSaving">
    <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
  </button>
</div>
<hr />
<div class="d-flex justify-content-end align-items-start py-3 ">
  <p-inputSwitch [(ngModel)]="isActivated"></p-inputSwitch>
  <label class="ms-2">
    Activate SalesMan
  </label>
</div>
<ng-container *ngIf="page.isPageLoaded">
  <form [formGroup]="page.form">
    <div class="row row-cols-lg-3  g-2 pb-5">
      <div class="col-4">
        <ng-control [form]="page.form" control="name" label="Sales Man " placeholder="Sales Man "></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="nationalNumber" label="National Number" placeholder="National Number"
          (keypress)="numberOnly($event)"></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="mobile" label="Mobile" placeholder="Mobile"
          (keypress)="numberOnly($event)"></ng-control>
      </div>
    </div>
    <div class="row row-cols-lg-3  g-2 pb-5">
      <div class="col-4">
        <ng-control [form]="page.form" control="jobCode" label="Job Code " placeholder="Job Code "></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="email" label="Email" placeholder="Email"></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="address" label="Address" placeholder="Address"></ng-control>
      </div>
    </div>
    <div class="row row-cols-lg-3  g-2 pb-5">
      <div class="col-4">
        <ng-control [form]="page.form" control="birthDate" label="Birth Date"
          [type]="page.ControlType.INPUT_DATE_ONLY"></ng-control>


      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="appointmentDate" label="Appointment Date"
          [type]="page.ControlType.INPUT_DATE_ONLY"></ng-control>
      </div>
      <div class="col-4">
        <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="classification"
          label="classification Name" placeholder="classification Name" [items]="classifies">
        </ng-control>
      </div>
    </div>
    <div class="row row-cols-lg-3  g-2 pb-5">
      <div class="col-4">
        <ng-control [form]="page.form" control="userName" label="User Name " placeholder="User Name "></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="password" label="Password" placeholder="Enter password"
          [type]="controlType.PASSWORD"></ng-control>
      </div>
      <div class="col-4">
        <ng-control [form]="page.form" control="confirmPassword" label="confirm Password"
          placeholder="confirm your Password" [type]="controlType.PASSWORD" (blur)="confirmPassword()"></ng-control>
        <p class="text text-danger font-12" *ngIf="!isEqualPassword">Passwords do not match</p>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-column w-50 checkboxes">
        <div *ngFor="let warehouse of warehousesList">
          <input type="checkbox" [value]="warehouse.id" (change)="onWarehouseSelection(warehouse.id, $event)" />
          <label class="ms-3">{{ warehouse.name }}</label>
        </div>
      </div>

      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="border p-3 text-center align-items-center h-100">
              <div *ngIf="image.uploaded; else uploadTemplate">
                <img [src]="environment.api + '/' + image.src" alt="Uploaded Image"
                  class="img-fluid mb-2 img-thumbnail" />
                <!-- <button class="btn btn-danger btn-sm mt-2" (click)="removeImage()">Remove</button> -->
              </div>
              <ng-template #uploadTemplate>
                <label for="fileInput" class="text-primary cursor-pointer">
                  <i class="fa fa-upload fa-2x mb-2 color-brand-500"></i>
                  <p class="color-brand-500" *ngIf="!image.uploaded">Upload New Image</p>
                  <p class="text-danger" *ngIf="image.error">Error Uploading</p>
                </label>
                <input #file type="file" id="fileInput" class="d-none" (change)="onImageUpload(file.files)" />
              </ng-template>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</ng-container>