<div class="mb-2">
    <div class="container-fluid py-2 px-3">
        <div class="row align-items-center">
            <div
                class="col-12 d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center gap-2">

                <div class="d-flex align-items-center flex-wrap">
                    <h2 class="mb-0 color-gray-600 ts-5"> {{"sites.Brand.brands"|translate}}</h2>
                    <div class="color-purple-700 bg-purple-50 cr7 px-2 py-1 ms-2">{{page.options.totalItems}}
                        {{"sites.Brand.brand"|translate}}
                    </div>
                </div>



                <div class="d-flex flex-wrap gap-1 justify-content-start justify-content-lg-end">
                    <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
                        (click)="deleteSelectedBrands()">{{"sites.Brand.delete"|translate}}</button>
                    <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
                        (click)="activateBrands()">{{"sites.Brand.active"|translate}}</button>
                    <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
                        (click)="disActiveBrands()">{{"sites.Brand.disActive"|translate}}</button>
                    <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3"
                        (click)="navigateToCreateBrand()">
                        {{"sites.Brand.create"|translate}}</button>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="scolled mt-3 h-100">
        <app-table-skelton *ngIf="page.isSearching" [columns]="page.columns"></app-table-skelton>
        <table class="table " *ngIf="!page.isSearching">
            <thead>

                <tr class="th-header">
                    <th>
                        <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
                    </th>
                    <ng-container *ngFor="let colum of page.columns ;let i=index;">
                        <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
                            {{colum.Title | translate}}
                            <div *ngIf="colum.Sortable" class="d-inline-block"
                                [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                                <i class="uil uil-sort sort-icon"
                                    [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
                            </div>
                        </th>
                    </ng-container>

                </tr>
            </thead>
            <tbody>
                <tr [hidden]="!page.isSearching">
                    <td colspan="100%">
                        <img src="/assets/img/gif-loading.gif" class="d-block" style="width:300px;margin: 0 auto;">
                    </td>
                </tr>
                <tr [hidden]="page.isSearching || items.length>0">
                    <td colspan="100%">
                        <span>{{'shared.no-data-found'|translate}}</span>
                    </td>
                </tr>
                <ng-container *ngFor="let item of items | paginate : page.options;let i=index;">
                    <tr>

                        <td>
                            <input type="checkbox" [(ngModel)]="item.selected" />
                        </td>
                        <td>{{ (page.options.currentPage - 1) * page.options.itemsPerPage + i + 1 }}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <img [src]="getImageUrl(item.path)" alt="Brand Image" class="img-thumbnail"
                                style="width: 100px; height: 100px;">
                        </td>
                        <td>
                            <div class="flex justify-content-center">
                                <p-inputSwitch [(ngModel)]="item.isActive"
                                    (ngModelChange)="updateActivation(item.id,item.isActive)"></p-inputSwitch>
                            </div>

                        </td>
                        <td>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                                aria-label="Delete" (click)="showDeleteConfirmation(item)">
                            </button>
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
                                aria-label="Edit" (click)="editBrand(item.id)">
                            </button>
                        </td>
                    </tr>
                </ng-container>
                <th></th>
        </table>
    </div>
    <div>
        <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
        </ng-pagination>
    </div>

</div>






<ng-template #confirmDeleteTemplate>
    <div class="modal-content confirm-modal">
        <div class="modal-body">
            <p class="modal-confirm-content mb-2">
                {{'shared.delete-confirmation.message'|translate}}
                <strong *ngIf="selectedItem">{{selectedItem.Name}}</strong>
            </p>
            <div class="d-flex mt-4">
                <button type="button" class="btn cancel-btn me-auto"
                    (click)="modalRef.hide() ">{{"sites.Brand.cancel"|translate}}</button>
                <button type="button" *ngIf="selectedItem" class="btn btn-without-icon bg-e5 ms-2"
                    (click)="remove();modalRef.hide();">{{"sites.Brand.confirm"|translate}}</button>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteTemplates>
    <div class="modal-body text-center">
        <p>{{"sites.Brand.deleteSelectedBrands"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn cancel-btn me-auto" (click)="modalRef.hide()">{{"sites.Brand.cancel"|translate}}</button>
        <button class="btn btn-without-icon bg-e5 ms-2"
            (click)="modalRef.content.onConfirm(); modalRef.hide()">{{"sites.Brand.yes"|translate}}</button>

    </div>
</ng-template>