nav {
  position: sticky;
  top: 0px;
  z-index: 1040; 

}

a:hover {
  color:  #ae45e5 !important;
}

.no-underline {
  text-decoration: none;
}
.navbar-link {
  display: inline-block;
  max-width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgb(215, 211, 211) !important;
}
.dropdown-menu {
  transform: translateX(-50%); 
  left: 50% !important; 
  top: 100% !important; 
}
.dropdown-menu.show {
 
  position: absolute;

}