<nav class="d-flex justify-content-start py-3 border-bottom bg-gray-100 px-5">
    <div class="container">
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/dashboard">Home</a> -->
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/governorates">Governorates</a>
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/cities">Cities</a>
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/company">Companies</a> -->
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/category">Category</a>
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/product">Product</a>
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/salesflow/customers">Customers</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/salesflow/order">Order</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/salesflow/roles">Roles</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/salesflow/customergroup">CustomerGroup</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/signUpRequest">SignUpRequest</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/salesflow/email">Email</a> -->
        <!-- <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/jobTitle">Employees</a> -->

        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/warehouse">Warehouse</a>


        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/supplier">Suppliers</a>
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/salesMan">SalesMan</a>
        <a class="ms-3 color-gray-900  no-underline" routerLink="/sites/productGroup">Product Group</a>
    </div>
</nav>
<div class="my-5 bg-gray-25 container cr5">
<router-outlet></router-outlet>
</div>
