<nav class="d-flex justify-content-start py-3 border-bottom bg-gray-100 px-5">
    <div class="container d-flex align-items-center flex-wrap">

        <!-- Location Dropdown -->
        <li class="nav-item dropdown ms-3 pointer" [class.show]="openDropdown === 'location'">
            <a 
            class="color-gray-900 dropdown-toggle no-underline"
            [ngClass]="{ 'active-link': isLocationActive() }"
            (click)="toggleDropdown('location')">
            {{"sites.layout.location" | translate}}
          </a>
          
          
            <ul class="dropdown-menu" [class.show]="openDropdown === 'location'">
                <li>
                    <a class="dropdown-item" routerLink="/sites/governorates"  routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.governorates" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/cities" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.cities" | translate}}
                    </a>
                </li>
            </ul>
        </li>
    
        <!-- Items Dropdown -->
        <li class="nav-item dropdown ms-3 pointer " [class.show]="openDropdown === 'items'">
            <a class="color-gray-900 dropdown-toggle no-underline" [ngClass]="{ 'active-link': isItemsActive() }" (click)="toggleDropdown('items')">
                {{"sites.layout.items" | translate}}
            </a>
            <ul class="dropdown-menu" [class.show]="openDropdown === 'items'">
                <li>
                    <a class="dropdown-item" routerLink="/sites/category"  routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.category" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/product"  routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.product" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/productGroup"  routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.productGroup" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/brand" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.brand" | translate}}
                    </a>
                </li>


            </ul>
        </li>

        <!-- SNO Dropdown -->
        <li class="nav-item dropdown ms-3 pointer " [class.show]="openDropdown === 'transfer'">
            <a class="color-gray-900 dropdown-toggle no-underline" [ngClass]="{ 'active-link': isSNOActive() }" (click)="toggleDropdown('transfer')">
                {{"sites.layout.transfer" | translate}}
            </a>
            <ul class="dropdown-menu" [class.show]="openDropdown === 'transfer'">


                <li>
                    <a class="dropdown-item" routerLink="/sites/transfers"  routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.transfersWarehouseToWarehouse" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/transferSalesManToSalesMan"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.transferSalesManToSalesMan" | translate}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/sites/transferWarehouseToSalesMan"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="closeDropdown()">
                        {{"sites.layout.transferWarehouseToSalesMan" | translate}}
                    </a>
                </li>
            </ul>
        </li>

        <!-- Other Navigation Links -->


        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/sites/warehouse" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" >
            {{"sites.layout.warehouse" | translate}}
        </a>

        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/salesflow/customers" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.customers" | translate}}
        </a>

        <!-- <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/sites/supplier">
            {{"sites.layout.suppliers" | translate}}
        </a> -->
        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/sites/salesMan" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.salesMan" | translate}}
        </a>

        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/sites/request" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.requests" | translate}}
        </a>
        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/salesflow/customergroup" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.customergroup" | translate}}
        </a>
        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/salesflow/roles" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.roles" | translate}}
        </a>
        <a class="navbar-link ms-3 color-gray-900 no-underline" routerLink="/sites/dispatch" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
            {{"sites.layout.dispatch" | translate}}
        </a>

    </div>
</nav>

<div class="my-5 bg-gray-25 container cr5">
    <router-outlet></router-outlet>
</div>