nav {
  position: sticky;
  top: 0px;
}

a:hover {
  color:  #ae45e5 !important;
}

.no-underline {
  text-decoration: none;
}
.navbar-link {
  display: inline-block;
  max-width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
