.cr1 {
  border-radius: 0px;
}
.cr2 {
  border-radius: 2px;
}
.cr3 {
  border-radius: 4px;
}
.cr4 {
  border-radius: 6px;
}
.cr5 {
  border-radius: 8px;
}
.cr6 {
  border-radius: 12px;
}
.cr7 {
  border-radius: 16px;
}
