.pagination-button-back {
    border-radius: 6px !important;

    margin-inline-start: 4px;
    border: 1px solid #8b92a0;
    font-size: 12px !important;
    padding: 8px !important;
    background-color: white !important;
}

.pagination-button-forward {
    border-radius: 6px !important;
    margin-inline-start: 4px;
    border: 1px solid #8b92a0;
    font-size: 12px !important;
    padding: 8px !important;
    background-color: white !important;
}


