.sidebar {
  position: fixed;
  top: 0;
  left: -500px;
  width: 500px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  z-index: 1050;
  transition: left 0.3s ease;
}
.sidebar.open {
  left: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1040;
}
.btn-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.sidebar-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}
.ggg
{
  position: relative;
  display: block;
  box-sizing: border-box;
}




.nav-tabs .nav-link.bg-brand-100 {
  background-color: #fcecd8; 
  color: #EB762C;
}
.border{
  border: 1px solid lightgray;
  border-radius: 5px;
}

.nav-link{
  border: 1px solid #E9EAEB;
  border-radius: 6px;
}

.extra-small {
  font-size: 0.7rem; 
  line-height: 1rem; 
}

.mt-1 {
  margin-top: 0.2rem;
}

.modal-content{
  height: 200px;
  width: 400px;
}

.form-control {
  height: 100px;
} 
