<div class="mb-2">
  <div class="d-flex justify-content-between align-items-center py-2 px-3">
    <div class="d-flex align-items-center">
      <h2 class="mb-0 color-gray-600 ts-5"> {{"sites.transferWarehouseToSalesMan.transferWarehouseToSalesMan"|translate}}
      </h2>
      <div class="color-purple-700 bg-purple-50 cr7 px-2 py-1 ms-2">{{page.options.totalItems}}
        {{"sites.transferWarehouseToSalesMan.transfer"|translate}}
      </div>
    </div>

    <!-- Flex container for buttons to be side by side -->
    <div class="d-flex">
      <!-- <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
            (click)="deleteSelectedSuppliers()">{{"sites.supplier.delete"|translate}}</button>
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
            (click)="activateSuppliers()">{{"sites.supplier.active"|translate}}</button>
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
            (click)="disActiveSuppliers()">{{"sites.supplier.disActive"|translate}}</button> -->
      <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3"
        (click)="showCartDialog($event)">{{"sites.transferWarehouseToSalesMan.create"|translate}}</button>

    </div>
  </div>
  <hr />
  <form [formGroup]="page.searchForm">
    <div class="form-body p-3">
      <div class="row g-2">
        <div class="col-3">
          <ng-control [form]="page.searchForm" control="SearchText" label="sites.transferWarehouseToSalesMan.searchText" placeholder="sites.transferWarehouseToSalesMan.searchText">
          </ng-control>
        </div>
        <div class="col-3">
          <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="WarehouseId" label="sites.transferWarehouseToSalesMan.warehouseName"
            placeholder="sites.transferWarehouseToSalesMan.warehouseName" [items]="WarehouseList">
          </ng-control>
        </div>

        <div class="col-3">
          <ng-control [form]="page.searchForm" control="From" label="sites.transferWarehouseToSalesMan.fromDate"
            [type]="page.ControlType.INPUT_DATE"></ng-control>

        </div>
        <div class="col-3">
          <ng-control [form]="page.searchForm" control="To" label="sites.transferWarehouseToSalesMan.toDate"
            [type]="page.ControlType.INPUT_DATE"></ng-control>

        </div>
        <div class="col-3 d-flex align-items-end">
          <button class='color-brand-700 rb-btn  rb-btn-secondary rb-btn-sm  w-100' (click)="search()"
            [disabled]="page.searchForm.invalid || page.isSearching">
            <i class="uil uil-search"></i>
            <span class="rb-btn-text d-md-inline-block">
              {{'shared.search'|translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.open]="cartVisible">
  <div class="sidebar-header d-flex justify-content-between align-items-center px-3 py-2 border-bottom">
    <h4> {{"sites.transferWarehouseToSalesMan.addTransferOperation"|translate}}</h4>
    <button class="btn-close" (click)="closeCartDialog()">&times;</button>
  </div>
  <div class="sidebar-body p-3">
    <div class="transfer-process d-flex align-items-center mb-3">
      <img src="../assets/images/circle-arrow-reload-02.png" alt="Transfer Process Icon" class="me-2"
        style="width: 24px; height: 24px;" />
      <p class="mb-0 fw-bold"> {{"sites.transferWarehouseToSalesMan.transferProcess"|translate}}</p>
    </div>
    <div class="row p-2">
      <ng-control [type]="controlType.SELECT" [form]="pageCreate.form" control="salesManID"
        label="sites.transferWarehouseToSalesMan.salesMan" placeholder="sites.transferWarehouseToSalesMan.salesMan" [items]="SalesMen">
      </ng-control>
    </div>
    <div class="row p-2">
      <ng-control [type]="pageCreate.ControlType.SELECT" [form]="pageCreate.form" control="warehouseId"
        label="sites.transferWarehouseToSalesMan.Warehouse" placeholder="sites.transferWarehouseToSalesMan.Warehouse" [items]="WarehouseList"
        (change)="OnWarehouseIdChange($event.id)"
        >
      </ng-control>

    </div>

    <div class="row p-2" style="font-size: 12px;">
      <p class="form-label ">
        {{"sites.transferWarehouseToSalesMan.product"|translate}} <span class="text-danger">*</span>
      </p>

      <ng-control [type]="controlType.SELECT" [form]="productForm" control="selectedProduct"
        placeholder="sites.transferWarehouseToSalesMan.product" [items]="products" (change)="onProductSelected($event)">
      </ng-control>
    </div>



    <div class="scrolled mt-4" style="max-height: 300px; overflow-y: auto;">
      <table class="table" *ngIf="cartItems.length > 0">
        <thead>
          <tr class="th-header">
            <th>{{"sites.transferWarehouseToSalesMan.product"|translate}}</th>
            <th>{{"sites.transferWarehouseToSalesMan.quantity"|translate}}</th>
            <th class="text-center">{{"sites.transferWarehouseToSalesMan.action"|translate}}</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let item of cartItems; let i = index">
            <tr>
              <td>{{ item.productName }}</td>
              <td class="d-flex align-items-center gap-2">
                <button pButton icon="pi pi-minus" class="p-button-sm p-button-text p-button-secondary"
                  (click)="decreaseQuantity(i)">
                </button>
                {{ item.quantity }}
                <button pButton icon="pi pi-plus" class="p-button-sm p-button-text p-button-secondary"
                  (click)="increaseQuantity(i)">
                </button>
              </td>
              <td class="text-center">
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-0 pointer"
                  aria-label="Delete" (click)="removeProduct(i)">
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <!-- No Data Found -->
      <div *ngIf="cartItems.length === 0" class="text-center py-4">
        <span>{{ 'shared.no-data-found' | translate }}</span>
      </div>
    </div>




  </div>
  <div class="sidebar-footer d-flex justify-content-end gap-2 mt-4">
    <button pButton type="button" [ngStyle]="{
          'border': '1px solid purple',
          'color': 'purple',
          'background-color': 'transparent'
        }" class="rounded" (click)="closeCartDialog()">{{"sites.transferWarehouseToSalesMan.cancel"|translate}}</button>
    <button pButton type="button" class="bg-purple-500 py-2 px-4 text-white border-0 rounded"
      [disabled]="pageCreate.form?.invalid || page.isSaving ||cartItems.length===0"
      (click)="saveTransfer()">{{"sites.transferWarehouseToSalesMan.save"|translate}}</button>
  </div>



</div>

<!-- Overlay -->
<div class="overlay" *ngIf="cartVisible" (click)="closeCartDialog()"></div>
<div>


  <div class="scrolled mt-3 h-100">
    <app-table-skelton *ngIf="page.isSearching" [columns]="page.columns"></app-table-skelton>
    <table class="table" *ngIf="!page.isSearching">
      <thead>

        <tr class="th-header">


          <ng-container *ngFor="let colum of page.columns ;let i=index;">
            <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
              {{colum.Title | translate}}
              <div *ngIf="colum.Sortable" class="d-inline-block"
                [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                <i class="uil uil-sort sort-icon"
                  [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <!-- No Data Found -->
        <tr [hidden]="page.isSearching || items.length > 0">
          <td colspan="100%">
            <span>{{ 'shared.no-data-found' | translate }}</span>
          </td>
        </tr>

        <!-- Data Rows -->
        <ng-container *ngFor="let item of items | paginate: page.options; let i = index">
          <tr [ngClass]="{ 'out-of-stock': item.quantity === 0 }">


            <td>{{ i + 1 }}</td>
            <td>{{ item.transactionNumber }}</td>
            <td>{{ item.salesManName }}</td>
            <td>{{ item.warehouseName }}</td>
            <td>{{item.createdDate}}
            <td>{{item.productNumber}}
            <td>
              <!-- Approve Button -->
              <button class="no-border bg-green-500 cr3 color-gray-25 px-2" [disabled]="item.transactionStatus === 3 "
                (click)="item.transactionStatus === 1 && approveRequest(item,item.transactionStatus)">
                <img class="p-2"
                  src="../assets/images/check.png">{{"sites.transferWarehouseToSalesMan.approve"|translate}}
              </button>

              <!-- Reject Button (disabled if the status is 'Approved') -->
              <button class="m-2 no-border bg-red-500 cr3 color-gray-25 px-2" [disabled]="item.transactionStatus === 2"
                (click)="item.transactionStatus === 1 && showRejectConfirmation(item)">
                <img class="p-2"
                  src="../assets/images/close.png">{{"sites.transferWarehouseToSalesMan.reject"|translate}}
              </button>
            </td>
            <td>

              <button *ngIf="item.transactionStatus === 1" pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info" aria-label="Edit"
                (click)="editTransaction(item.id)">
              </button>
             

            </td>



          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
  </ng-pagination>
</div>




<ng-template #confirmRejectTemplate>
  <div *ngIf="selectedItemReject">
    <div class="modal-body modal-content text-center">
      <p>{{"sites.transferWarehouseToSalesMan.rejectReason" | translate}}</p>
      <textarea [(ngModel)]="selectedItemReject.rejectReason" class="form-control" rows="3"
        [placeholder]="'sites.transferWarehouseToSalesMan.enter rejection reason' | translate">
      </textarea>
    </div>
    <div class="modal-footer">
      <button class="btn cancel-btn me-auto" (click)="modalRef.hide()">
        {{"sites.transferWarehouseToSalesMan.cancel" | translate}}
      </button>
      <button class="btn btn-without-icon bg-e5 ms-2" (click)="rejectRequest(); modalRef.hide()">
        {{"sites.transferWarehouseToSalesMan.sendFeedback" | translate}}
      </button>
    </div>
  </div>
</ng-template>