<div class="container py-5" style="min-height: 100vh;">
  <!-- Profile Options Grid -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col text-center ">
      <div class="p-4 border  cr5" routerLink="/profileSetting">
        <img src="../../../../../../assets/images/person.png">
        <p class="fw-bold mt-2">Profile Settings</p>
      </div>
    </div>
    <div class="col text-center h-100">
      <div class="p-4 border cr5" routerLink="/changePassword">
        <img src="../assets/images/password.png">
        <p class="fw-bold mt-2">Change Password</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border cr5" routerLink="/wishlist">
        <img src="../assets/images/favorite_border.png">
        <p class="fw-bold mt-2">Wishlist</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border cr5" routerLink="/orderHistory">
        <img src="../assets/images/history.png">
        <p class="fw-bold mt-2">Order History</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border cr5" routerLink="/transactionHistory">
        <img src="../assets/images/swap_horiz.png">
        <p class="fw-bold mt-2">Transaction History</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border  cr5" routerLink="/notification">
        <img src="../assets/images/notifications_active.png">
        <p class="fw-bold mt-2">Notification</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border  cr5" routerLink="/invoices">
        <img src="../assets/images/article.png">
        <p class="fw-bold mt-2">Invoices</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="p-4 border  cr5" routerLink="/address">
        <img src="../assets/images/place.png">
        <p class="fw-bold mt-2">Address</p>
      </div>
    </div>
  </div>
</div>



