.cartPie {
    width: 300px;
    height: 300px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    /* Space between circle and text */
}

.order-status {
    margin-top: 10px;
}

.status-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 37.5%;
    bottom: 40%;
}

.card-title span {
    font-size: smaller;
}

.card-body {
    position: relative;
}



.color-dark-blue-500 {
    color: #4e5ba6;
}

.color-purple-500{
    color: #972ccc;
}
.color-green-500 {
    color: #12b76a;
}
.color-green-300 {
    color: #6ce9a6;
}
.color-red-500 {
    color: #f04438;
}

