<div class="row mx-0">
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-50 w-xl-75 ">
          <h1 class="login-title bold color-purple-500">Login</h1>
      <p class="color-gray-700 mb-4">Continue your journey with oil car.</p>
      <form [formGroup]="loginForm">
        <!-- Phone Number Input -->
          <ng-control [form]="loginForm"  [inputClass]="'mb-3'" control="mobile" label="Phone Number" placeholder="01-xxx-xxx-xxx" (keypress)="numberOnly($event)"></ng-control>
        <!-- Password Input -->
          <ng-control [form]="loginForm" [inputClass]="'mb-2'" control="password" label="Password" placeholder="********"
            [type]="controlType.PASSWORD"></ng-control>
        <!-- Forgot Password -->
        <p class=" mb-4">
          <span class="pointer color-purple-500" routerLink="/auth/phoneforgetpassword">Forgot Password?</span>
        </p>
            <!-- Login Button -->
      <button (click)="onSubmit()" class=" btn bg-purple-700 w-100 mt-4" [disabled]="loginForm.invalid ||isSubmitting">Login</button>
      <!-- Signup Link -->
      </form>
  
    
      </div>
    
  </div>
</div>
<div class="col-12 col-lg-4 p-0">
  <div class="d-flex justify-content-end vh-100">
    <img src="/assets/images/caroils.PNG" class="vh-100 w-100" alt="login">
</div>
</div>
</div>