<footer class="footer text-center text-lg-start text-muted">
    <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row align-items-center">
            <!-- First Column -->
            <div class="col-4">
                <h6 class="text-uppercase fw-bold mb-2">
                    <span class="brand-name">CarOils</span>
                </h6>
                <div class="social-links">
                    <a href="" class="me-3 text-reset">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="" class="me-3 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-reset">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-2">
                <h6 class="text-uppercase fw-bold mb-3">
                    Company
                </h6>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-reset">About Us</a></li>
                    <li><a href="#!" class="text-reset">Careers</a></li>
                    <li><a href="#!" class="text-reset">Press</a></li>
                    <li><a href="#!" class="text-reset">Blog</a></li>
                </ul>
            </div>

            <!-- Third Column -->
            <div class="col-2">
                <h6 class="text-uppercase fw-bold mb-3">
                    Support
                </h6>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-reset">Contact Us</a></li>
                    <li><a href="#!" class="text-reset">FAQs</a></li>
                    <li><a href="#!" class="text-reset">Shipping & Returns</a></li>
                    <li><a href="#!" class="text-reset">Warranty</a></li>
                </ul>
            </div>

            <!-- Fourth Column -->
            <div class="col-4">
                <h6 class="text-uppercase fw-bold mb-3">
                    Subscribe to our Newsletter
                </h6>
                <p>Stay updated with our latest offers and products</p>
            </div>
        </div>
    </div>
</footer>
