<div class="row mx-0">
  <div class="col-12 col-lg-8 p-0">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="w-50 w-xl-75 ">
          <h1 class="login-title bold color-purple-500 mb-3">{{"auth.forget-password.enterYourPhoneNumber" |translate}}</h1>
      <form [formGroup]="phoneForgetPasswordForm">
        <!-- Phone Number Input -->
          <ng-control [form]="phoneForgetPasswordForm"  [inputClass]="'mb-3'" control="mobile" label="auth.forget-password.phoneNumber" placeholder="01-xxx-xxx-xxx"  (keypress)="numberOnly($event)"></ng-control>

      </form>
      <!-- Login Button -->
      <button (click)="onSubmit()" class=" btn bg-purple-600 w-100 mt-4" [disabled]="phoneForgetPasswordForm.invalid || isSubmitting ">{{"auth.forget-password.submit" |translate}}</button>
      <!-- Signup Link -->
      <p class="text-center mt-3">
        {{"auth.forget-password.goToLogin" |translate}} <span class="pointer color-purple-500" routerLink="/auth/login" >{{"auth.forget-password.login" |translate}}</span>
      </p>
      </div>
    
  </div>
</div>
<div class="col-12 col-lg-4 p-0">
  <div class="d-flex justify-content-end vh-100">
    <img src="/assets/images/caroils.PNG" class="vh-100 w-100" alt="login">
</div>
</div>
</div>