<div class="d-flex justify-content-between align-items-center py-2">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/sites/product"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} Product</p>
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="bg-purple-50 py-2 px-4 color-purple-500 cr3 border-color bg-white"
      (click)="onCancel()">
      Cancel
    </button>
    <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()"
      [disabled]="page.form?.invalid || page.isSaving">
      <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
    </button>
  </div>
</div>
<hr />

<ng-container>
  <!-- Tabs Section -->
  <div class="border">

    <ul class="nav nav-tabs mt-4 d-flex align-items-center">
      <li class="nav-item me-1 " *ngFor="let tab of Tabs">
        <a class="nav-link d-flex align-items-center px-2 py-1 pointer" [ngClass]="{
            'bg-purple-100 color-purple-500': tab.isSelected,
            'color-gray-100 color-gray-100': !tab.isSelected
          }" (click)="switchTab(tab.ID)">
          <img [src]="tab.isSelected ? tab.selectedIcon : tab.icon" alt="tab icon" class="me-2" />
          {{tab.name}}
        </a>
      </li>
      <div class="d-flex align-items-center ms-auto gap-3">
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isActivated"></p-inputSwitch>
          <label>Activate Product</label>
        </div> -->
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isFeatured"></p-inputSwitch>
          <label>Featured Product</label>
        </div> -->
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isActivatedPoint"></p-inputSwitch>
          <label>Activate Point</label>
        </div> -->
      </div>
    </ul>


    <ng-container *ngIf="page.isPageLoaded">
      <!-- Tab Content -->
      <div class="tab-content mt-4">
        <!-- General Data Tab -->
        <div *ngIf="selectedTab === TabEnum.GeneralData" class="p-4 bg-white rounded">
          <form [formGroup]="page.form">
            <div class="row g-4">
              <!-- Product Name -->
              <div class="col-12">
                <ng-control [form]="page.form" control="name" label="Product Name"
                  placeholder="Ex : Shell oil"></ng-control>
              </div>
              <!-- Category  -->
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="categoryID"
                  label="Category Name" placeholder="Category Name" [items]="categories">
                </ng-control>
              </div>
              <div class="col-4">
                <ng-control [form]="page.form" control="ProductAPI"
                  label="Product API" placeholder="Product API" >
                </ng-control>
              </div>
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="productGroupID"
                  label="product Group" placeholder="product Group " [items]="productGroup">
                </ng-control>
              </div>
              <div class="col-6">
                <ng-control [form]="page.form" control="code" label="Code" placeholder="Enter The code"></ng-control>
              </div>
              <div class="col-6">
                <ng-control [form]="page.form" [type]="page.ControlType.INPUT_DATE_ONLY" control="expiryDate" label="Expiry Date"
                  placeholder="Expiry Date"></ng-control>
                  <div *ngIf="page.form.get('expiryDate')?.errors?.pastDate" class="text-danger extra-small mt-1">
                    {{ page.form.get('expiryDate')?.errors?.pastDate }}
                  </div>

              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="smallerUnitsOfMeasurements"
                  label="Smaller units of measurement"
                  placeholder="Enter a Smaller units of measurement..." (keypress)="numberOnly($event)"></ng-control>
              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="numOfUnitPerCartoon" label="Number Of Unit/Cartoon"
                  placeholder="Enter a Number Of Unit/Cartoon..." (keypress)="numberOnly($event)"></ng-control>
              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="safetyStocks" label="Safety Stocks"
                  placeholder="Enter a safetyStocks..."  (keypress)="numberOnly($event)"></ng-control>
              </div>

              <!-- <div class="col-6">
                  <label for="MetaTagKeywords" class="form-label d-block">Meta Tag Keywords</label>
                  <p-chips formControlName="tags" [separator]="' '" [addOnBlur]="true"
                    placeholder="Enter Meta Tag Keywords..."></p-chips>
                  <small class="form-text text-muted">
                    Press <strong> Space</strong> to add another tag.
                  </small>
                </div> -->
            </div>
          </form>
        </div>



        <!-- Price Tab -->
        <div *ngIf="selectedTab === TabEnum.Price" class="p-4 bg-white rounded">
          <div class="row ">
            <div class="col-6">
              <ng-control [form]="page.form" control="retailPrice" label="Retail Price" placeholder="Enter Retail Price"
                (keypress)="numberOnly($event)"></ng-control>
            </div>

            <div class="col-6">
              <ng-control [form]="page.form" control="wholesalePrice" label="Wholesale Price"
                placeholder="Enter Wholesale Price" (keypress)="numberOnly($event)"></ng-control>
            </div>

            <div class="col-6 mt-4">
              <ng-control [form]="page.form" control="vIPClientsPrice" label="VIP Clients Price"
                placeholder="Enter VIP Clients Price...." (keypress)="numberOnly($event)"></ng-control>
            </div>
          </div>
        </div>


        <!-- Other Data Tab -->
        <div *ngIf="selectedTab === TabEnum.Other" class="p-4  ">
          <div class="row g-4">
            <div class="col-4">
              <ng-control [form]="page.form" control="packSize" label="Pack Size" placeholder="Enter Pack Size"
                (keypress)="numberOnly($event)"></ng-control>
            </div>
            <div class="col-4">
              <ng-control [form]="page.form" control="netWeightPerLitre" label="Weight Per liter "
                placeholder="Enter Weight Per liter"  (keypress)="numberOnly($event)"></ng-control>

            </div>
            <div class="col-4">
              <ng-control [form]="page.form" control="weightPerKG" label="Net Weight Per KG" placeholder="EnterNet Weight Per KG....."
                (keypress)="numberOnly($event)"  (keypress)="numberOnly($event)"></ng-control>
              
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-4">
              <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="unit" label="Unit" placeholder="Enter Unit" [items]="ProductUnitList" ></ng-control>
            </div>
            <div class="col-4">
              <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="grade" label="grade" placeholder="Enter grade" [items]="Grade"
               ></ng-control>
            </div>
           
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="productStatus" label="Choose Status" placeholder="Product Status" [items]="ProductStatus"
                   ></ng-control>
              </div>
          </div>

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>