<div class="d-flex justify-content-between align-items-center py-2">
  <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
      routerLink="/sites/product"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} {{"sites.product.product"|translate}}</p>
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="bg-purple-50 py-2 px-4 color-purple-500 cr3 border-color bg-white"
      (click)="onCancel()">
      {{"sites.product.cancel"|translate}}
    </button>
    <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="Save()"
      [disabled]="page.form?.invalid || page.isSaving">
      <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
    </button>
  </div>
</div>
<hr />

<ng-container>
  <!-- Tabs Section -->
  <div class="border mb-4">

    <ul class="nav nav-tabs mt-4 d-flex align-items-center">
      <li class="nav-item me-1 " *ngFor="let tab of Tabs">
        <a class="nav-link d-flex align-items-center px-2 py-1 pointer" [ngClass]="{
            'bg-purple-100 color-purple-500': tab.isSelected,
            'color-gray-100 color-gray-100': !tab.isSelected
          }" (click)="switchTab(tab.ID)">
          <img [src]="tab.isSelected ? tab.selectedIcon : tab.icon" alt="tab icon" class="me-2" />
          {{tab.name}}
        </a>
      </li>
      <div class="d-flex align-items-center ms-auto gap-3">
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isActivated"></p-inputSwitch>
          <label>Activate Product</label>
        </div> -->
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isFeatured"></p-inputSwitch>
          <label>Featured Product</label>
        </div> -->
        <!-- <div class="d-flex align-items-center">
          <p-inputSwitch [(ngModel)]="isActivatedPoint"></p-inputSwitch>
          <label>Activate Point</label>
        </div> -->
      </div>
    </ul>


    <ng-container *ngIf="page.isPageLoaded">
      <!-- Tab Content -->
      <div class="tab-content mt-4">
        <!-- General Data Tab -->
        <div *ngIf="selectedTab === TabEnum.GeneralData" class="p-4 bg-white rounded">
          <form [formGroup]="page.form">
            <div class="row g-4">
              <!-- Product Name -->
              <div class="col-12">
                <ng-control [form]="page.form" control="name" label="sites.product.name"
                  placeholder="Ex : Shell oil"></ng-control>
              </div>
              <!-- Category  -->
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="categoryID"
                  label="sites.product.categoryName" placeholder="sites.product.categoryName" [items]="categories">
                </ng-control>
              </div>
              <div class="col-4">
                <ng-control [form]="page.form" control="productAPI"
                  label="sites.product.API" placeholder="sites.product.API" >
                </ng-control>
              </div>
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="productGroupID"
                  label="sites.product.productGroupName" placeholder="sites.product.productGroupName" [items]="productGroup">
                </ng-control>
              </div>
              <div class="col-6">
                <ng-control [form]="page.form" control="code" label="sites.product.code" placeholder="sites.product.code"></ng-control>
              </div>
              <div class="col-6">
                <ng-control [form]="page.form" [type]="page.ControlType.INPUT_DATE_ONLY" control="expiryDate" label="sites.product.expiryDate"
                  placeholder="sites.product.expiryDate"></ng-control>
                  <div *ngIf="page.form.get('expiryDate')?.errors?.pastDate" class="text-danger extra-small mt-1">
                    {{ page.form.get('expiryDate')?.errors?.pastDate |translate}}
                  </div>

              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="smallerUnitsOfMeasurements"
                  label="sites.product.smallerUnitsOfMeasurements"
                  placeholder="sites.product.smallerUnitsOfMeasurements" (keypress)="numberOnly($event)"></ng-control>
              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="numOfUnitPerCartoon" label="sites.product.numOfUnitPerCartoon"
                  placeholder="sites.product.numOfUnitPerCartoon" (keypress)="numberOnly($event)"></ng-control>
              </div>

              <div class="col-4">
                <ng-control [form]="page.form" control="safetyStocks" label="sites.product.safetyStocks"
                  placeholder="sites.product.safetyStocks"  (keypress)="numberOnly($event)"></ng-control>
              </div>

              <!-- <div class="col-6">
                  <label for="MetaTagKeywords" class="form-label d-block">Meta Tag Keywords</label>
                  <p-chips formControlName="tags" [separator]="' '" [addOnBlur]="true"
                    placeholder="Enter Meta Tag Keywords..."></p-chips>
                  <small class="form-text text-muted">
                    Press <strong> Space</strong> to add another tag.
                  </small>
                </div> -->
            </div>
          </form>
        </div>



        <!-- Price Tab -->
        <div *ngIf="selectedTab === TabEnum.Price" class="p-4 bg-white rounded">
          <div class="row ">
            <div class="col-6">
              <ng-control [form]="page.form" control="retailPrice" label="sites.product.retailPrice" placeholder="sites.product.retailPrice"
                (keypress)="numberOnly($event)"></ng-control>
            </div>

            <div class="col-6">
              <ng-control [form]="page.form" control="wholesalePrice" label="sites.product.wholesalePrice"
                placeholder="sites.product.wholesalePrice" (keypress)="numberOnly($event)"></ng-control>
            </div>

            <div class="col-6 mt-4">
              <ng-control [form]="page.form" control="vipClientsPrice" label="sites.product.vIPClientsPrice"
                placeholder="sites.product.vIPClientsPrice" (keypress)="numberOnly($event)"></ng-control>
            </div>
          </div>
        </div>


        <!-- Other Data Tab -->
        <div *ngIf="selectedTab === TabEnum.Other" class="p-4  ">
          <div class="row g-4">
            <div class="col-4">
              <ng-control [form]="page.form" control="packSize" label="sites.product.packSize" placeholder="sites.product.packSize"
                (keypress)="numberOnly($event)"></ng-control>
            </div>
            <div class="col-4">
              <ng-control [form]="page.form" control="netWeightPerLitre" label="sites.product.netWeightPerLitre"
                placeholder="sites.product.netWeightPerLitre"  (keypress)="numberOnly($event)"></ng-control>

            </div>
            <div class="col-4">
              <ng-control [form]="page.form" control="weightPerKG" label="sites.product.weightPerKG" placeholder="sites.product.weightPerKG"
                (keypress)="numberOnly($event)"  (keypress)="numberOnly($event)"></ng-control>
              
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-4">
              <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="unit" label="sites.product.unit" placeholder="sites.product.unit" [items]="ProductUnitList" ></ng-control>
            </div>
            <div class="col-4">
              <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="grade" label="sites.product.grade" placeholder="sites.product.grade" [items]="Grade"
               ></ng-control>
            </div>
           
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="productStatus" label="sites.product.productStatus" placeholder="sites.product.productStatus" [items]="ProductStatus"
                   ></ng-control>
              </div>
          </div>
   <div class="row mt-4">
              <div class="col-4">
                <ng-control [type]="page.ControlType.SELECT" [form]="page.form" control="brandID" label="sites.product.brand" placeholder="sites.product.brand" [items]="Brands"
                   ></ng-control>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>