<div class="mb-2">
  <div class="d-flex justify-content-between align-items-center py-2 px-3">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0 color-gray-600 ts-5">Customers</h2>
      <div class="color-purple-700 bg-purple-50 cr7 px-2 py-1 ms-2">{{page.options.totalItems}} Customers
      </div>
    </div>
   


      <!-- <div class="d-flex">
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="downloadExcel()">Download Excel</button>
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="downloadPDF()">Download PDF</button>
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="activateCustomers()">Activate</button>
        <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
        (click)="disActiveCustomers()">Disactivate</button>
        <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" (click)="navigateToCreateCustomer()">Add
          New Customer</button>
       
    </div> -->


    <div class="d-flex">
      <div class="position-relative">
          <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
              (click)="toggleDownloadOptions()">Download</button>
          
          <div *ngIf="showDownloadOptions" class="download-options">
              <button (click)="downloadExcel()">Excel</button>
              <button (click)="downloadPDF()">PDF</button>
          </div>
      </div>
  
      <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
          (click)="activateCustomers()">Activate</button>
      
      <button class="bg-purple-100 py-2 px-4 color-purple-500 no-border cr3 mx-1"
          (click)="disActiveCustomers()">Disactivate</button>
      
      <button class="bg-purple-500 py-2 px-4 color-gray-25 no-border cr3" 
          (click)="navigateToCreateCustomer()">Add New Customer</button>
  </div>
  
  </div>
  <hr />
  <form [formGroup]="page.searchForm">
    <div class="form-body">
      <div class="row g-2">
        <div class="col-2">
          <ng-control [form]="page.searchForm" control="Name" label="Customer Name" placeholder="Customer Name">
          </ng-control>
        </div>
        <div class="col-2">
          <ng-control [form]="page.searchForm" control="Email" label="Email" placeholder="Email">
          </ng-control>
        </div>
        <div class="col-2">
          <ng-control [form]="page.searchForm" control="NationalNumber" label="National Number"
            placeholder="National Number">
          </ng-control>
        </div>
        <div class="col-2">
          <ng-control [form]="page.searchForm" control="Mobile" label="Mobile"
            placeholder="Mobile">
          </ng-control>
        </div>
        <div class="col-2">
          <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="VerifyStatus" label="Verify Status"
            placeholder="Verify Status" [items]="verifyStatuslist"></ng-control>
        </div>
        <div class="col-2">
          <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="ClientGroupId" label="Client Group"
            placeholder="Client GroupId" [items]="customerGroups"></ng-control>
        </div>
       
        <div class="col-2 ms-auto d-flex align-items-end">
          <button class='color-purple-700 rb-btn  rb-btn-secondary rb-btn-sm  w-100' (click)="search()"
            [disabled]="page.searchForm.invalid || page.isSearching">
            <i class="uil uil-search"></i>
            <span class="rb-btn-text d-md-inline-block">
              {{'shared.search'|translate}}</span>
          </button>
        </div>
        
      </div>
    </div>
  </form>
  <div class="scolled mt-3 h-100">
    <app-table-skelton *ngIf="page.isSearching" [columns]="page.columns"></app-table-skelton>
    <table class="table " *ngIf="!page.isSearching">
      <thead>
        <tr class="th-header">
          <th>
            <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
          </th>
          <ng-container *ngFor="let colum of page.columns ;let i=index;">
            <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
              {{colum.Title | translate}}
              <div *ngIf="colum.Sortable" class="d-inline-block"
                [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                <i class="uil uil-sort sort-icon"
                  [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr [hidden]="page.isSearching || items.length>0">
          <td colspan="100%">
            <span>{{'shared.no-data-found'|translate}}</span>
          </td>
        </tr>
        <ng-container *ngFor="let item of items | paginate : page.options;let i=index;">
          <tr>
           
            <td>
              <input type="checkbox" [(ngModel)]="item.selected" />
          </td>
          <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="flex justify-content-center">
                <p-inputSwitch [(ngModel)]="item.isActive"
                  (ngModelChange)="updateActivation(item.id,item.isActive)"></p-inputSwitch>
              </div>
            </td>
            <td>{{item.clientGroupName}}</td>
            <td >{{item.email}}</td>
            <td>{{ getVerifyStatusName(item.verifyStatus) }}</td>
            <td>{{item.nationalNumber}}</td>
            <td>{{item.totalOrders}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.phone}}</td>

            <td>{{getOrderStatusName(item.clientActivity)}}</td>
            <td>
              <img [src]="getImageUrl(item.path)" alt="Cust Image" class="img-thumbnail" style="width: 100px; height: 50px;">
            </td>
            <td>
              <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info pointer p-0"
                aria-label="Edit" (click)="editCustomer(item.id)">
              </button>
            </td>
          </tr>
        </ng-container>
        <th></th>
    </table>
  </div>
  <div class="pb-2">
    <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
    </ng-pagination>
  </div>
</div>
<ng-template #confirmDeleteTemplate>
  <div class="modal-content confirm-modal">
    <div class="modal-body">
      <p class="modal-confirm-content mb-2">
        {{'shared.delete-confirmation.message'|translate}}
        <strong *ngIf="selectedItem">{{selectedItem.name}}</strong>
      </p>
      <div class="d-flex mt-4">
        <button type="button" class="btn cancel-btn me-auto" (click)="modalRef.hide() ">Cancel</button>
        <button type="button" *ngIf="selectedItem" class="btn btn-without-icon bg-e5 ms-2"
          (click)="remove();modalRef.hide();">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>

