<div class="d-flex justify-content-between align-items-center py-2 ">
    <p class="mb-0 color-gray-600 ts-3"><img src="/assets/icons/keyboard_backspace.svg" class="pointer"
            routerLink="/sites/ads"> {{(page.isEdit?'shared.edit':'shared.create')|translate}} Ads</p>
            <button
            class="bg-brand-500 py-2 px-4 color-gray-25 no-border cr3"
            (click)="Save()"
            [disabled]="!page.isEdit ? (page.form?.invalid || page.isSaving || !validateImages()) : false"
          >
            <span class="rb-btn-text">{{ (page.isEdit ? 'shared.edit' : 'shared.create') | translate }}</span>
          </button>
          
</div>
<hr />
<div class="d-flex justify-content-end align-items-start py-3 ">
    <p-inputSwitch [(ngModel)]="isActivated"></p-inputSwitch>
    <label class="ms-2">Activate ad</label>
</div>

<ng-container *ngIf="page.isPageLoaded">
    <form [formGroup]="page.form">
        <div class="row d-flex align-items-center g-3">

            <div class="col">
                <ng-control [form]="page.form" control="title" placeholder="Enter ad Name" label="Ad Name"
                    class="form-control-lg border-light rounded-3"></ng-control>
            </div>

            <div class="col">
                <ng-control [form]="page.form" control="startDate" label="Start Date"
                    [type]="page.ControlType.INPUT_DATE" (change)="onChangeStartDate($event)"></ng-control>
                <div *ngIf="page.form.get('startDate')?.errors?.pastDate" class="text-danger extra-small mt-1">
                    {{ page.form.get('startDate')?.errors?.pastDate   }}
                </div>
            </div>

            <div class="col">
                <ng-control [form]="page.form" control="endDate" label="End Date" [type]="page.ControlType.INPUT_DATE"
                    [minDate]=" page.form.get('startDate').value" [diasblePastDate]="true"></ng-control>
                <div *ngIf="page.form.get('endDate')?.errors?.endDateBeforeStart" class="text-danger extra-small mt-1">
                    {{ page.form.get('endDate')?.errors?.endDateBeforeStart }}
                </div>
            </div>

        </div>
        <div class="row d-flex align-items-center g-3 pb-5">


            <div class="col">
                <!-- <ng-control [type]="'SELECT'" [form]="page.form" control="imageTypes" label="Ad Position"
                    placeholder="Ad Position" [items]="imageTypelist"
                    class="form-control-lg border-light rounded-3"></ng-control> -->

                    <div class="form-group">
                        <label for="adPosition">Ad Position</label>
                        <select
                            id="adPosition"
                            class="form-control form-control-lg rounded-3"
                            formControlName="imageTypes"
                        >
                            <option *ngFor="let item of imageTypelist" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                    

            </div>




            <div class="col">
                <ng-control [form]="page.form" control="hyperlink" placeholder="Enter hyperlink" label="Hyperlink"
                    class="form-control-lg border-light rounded-3"></ng-control>
            </div>
        </div>


        <div class="row g-2 ">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-12 col-md-3 col-lg-3" *ngFor="let image of images; let i = index">
                        <div class="border p-3 text-center h-100">
                            <div *ngIf="image.uploaded; else uploadTemplate">
                                <img [src]="environment.api+'/'+image.src" alt="Uploaded Image" class="img-fluid mb-2 img-thumbnail" />
                                <!-- <div class="d-flex justify-content-center gap-2">
                                  <button class="btn btn-sm btn-warning" (click)="replaceImage(i)">Replace</button>
                                  <button class="btn btn-sm btn-danger" (click)="deleteImage(i)">Delete</button>
                                </div> -->
                              </div>
                              <ng-template #uploadTemplate>
                                <label for="fileInput-{{ i }}" class="text-primary cursor-pointer">
                                  <i class="fa fa-upload fa-2x mb-2 color-brand-500"></i>
                                  <p class="color-brand-500" *ngIf="!image.uploaded">Upload New Image</p>
                                  <p class="text-danger" *ngIf="image.error">Error Uploading</p>
                                </label>
                                <input #file type="file" id="fileInput-{{ i }}" class="d-none" (change)="onImageUpload(file.files, i)" />
                              </ng-template>
                              
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </form>
</ng-container>